<div
class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary vh-100"
>
<div
  class="offcanvas-md offcanvas-end bg-body-tertiary"
  tabindex="-1"
  id="sidebarMenu"
  aria-labelledby="sidebarMenuLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="sidebarMenuLabel">
     Civil Service
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      data-bs-target="#sidebarMenu"
      aria-label="Close"
    ></button>
  </div>
  <div
    class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto"
  >
    <ul class="nav flex-column mt-3">
      <li class="nav-item mb-3 shadow">
        <a
          class="nav-link d-flex align-items-center gap-2 active"
          aria-current="page"
          href="/admin/dashboard"
        >
          <svg class="bi"><use xlink:href="#house-fill" /></svg>
          Dashboard
        </a>
      </li>
    </ul>

    
    <ul class="nav flex-column mb-auto">
      <li class="nav-item mb-3 shadow">
        <a class="nav-link d-flex align-items-center gap-2" href="/admin/available-jobs">
          <svg class="bi">
            <use xlink:href="#file-earmark-text" />
          </svg>
          Available Jobs
        </a>
      </li>
      <li class="nav-item mb-3 shadow">
        <a class="nav-link d-flex align-items-center gap-2" href="/admin/view-applicants">
          <svg class="bi">
            <use xlink:href="#file-earmark-text" />
          </svg>
          Applications 
        </a>
      </li> 
      <li class="nav-item mb-3 shadow">
        <a class="nav-link d-flex align-items-center gap-2" href="/admin/set-exam">
          <svg class="bi">
            <use xlink:href="#file-earmark-text" />
          </svg>
          Set Exam
        </a>
      </li>
      <li class="nav-item mb-3 shadow">
        <a class="nav-link d-flex align-items-center gap-2" href="/admin/view-questions">
          <svg class="bi">
            <use xlink:href="#file-earmark-text" />
          </svg>
          View Questions  
        </a>
      </li>
      <li class="nav-item mb-3 shadow">
        <a class="nav-link d-flex align-items-center gap-2" href="/admin/applicants-results">
          <svg class="bi">
            <use xlink:href="#file-earmark-text" />
          </svg>
          CBT Results
        </a>
      </li>
    </ul>

    <hr class="my-3" />

    <ul class="nav flex-column mb-auto shadow">
      <li class="nav-item shadow">
        <a class="nav-link d-flex align-items-center gap-2" href="/admin/logout">
          <svg class="bi"><use xlink:href="#door-closed" /></svg>
          Sign out
        </a>
      </li>
    </ul>
  </div>
</div>
</div>