<div class="header-area header-transparrent">
    <div class="headder-top header-sticky">
         <div class="container">
             <div class="row align-items-center">
                 <div class="col-lg-3 col-md-2">
                     <!-- Logo -->
                     <div class="">
                         <a href="/">
                             <h5 class="fw-bold">CIVIL SERVICE COMMISSION</h5>
                         </a>
                     </div>  
                 </div>
                 <div class="col-lg-9 col-md-9">
                     <div class="menu-wrapper p-2">
                         <div class="header-btn d-none ms-auto  d-lg-block">
                             <a href="login" class="btn head-btn2">Login for CBT Exam</a>
                         </div>
                     </div>
                 </div>
                 <!-- Mobile Menu -->
                 <div class="col-12">
                     <div class="mobile_menu d-block d-lg-none"></div>
                 </div>
             </div>
         </div>
    </div>
</div>